*{
    padding: 0;
    margin: 0;
}

body{
    padding: 10vh;
    text-align: center;
}

.div_comment{
    position: fixed;
    display: block;
    background-color: #ffffff;
    text-align: center;
    top: 45vw;
    left: 1vw;
    font-size: 1.2rem;
    border: #000 3px solid;
    padding: 2%;
    animation: balance 2s infinite ease;
    transition: .2s;
}

.ladder{
    font-size: 6rem;
}

@keyframes balance{
    0%{
        top: 45vw;
    }

    50%{
        top: 48vw;
    }

    100%{
        top: 45vw;
    }

}

@media screen and (max-width: 700px){
    .ladder{
        font-size: 6rem;
    }
}